.slider {
    position: relative;
    /* width: 200px; */
}

.sliderTrack,
.sliderRange {
    border-radius: 3px;
    height: 2.5px;
    position: absolute;
}

.sliderTrack {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
    position:absolute;
    bottom:0;
    left:0;
}

.sliderRange {
    background:linear-gradient(to right,white,#FAAE7B 65%);
    z-index: 2;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
    bottom:0.7px;
    left:0;
}

.thumbZindex3 {
    z-index: 3;
}

.thumbZindex4 {
    z-index: 4;
}
.thumbZindex5{
    z-index:5;
}


.thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin-bottom: 4px;
    pointer-events: all;
    position: relative;
}



.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin-bottom: 4px;
    pointer-events: all;
    position: relative;
}
label:first-of-type{
    position:absolute;
    bottom:10px;
    left:0;
}
label:nth-of-type(2n){
    position:absolute;
    bottom:10px;
    right:0;

}
.slider p{
    margin:1rem 0;
    font-weight:100;
    font-size:0.9rem;
}