.container {
    text-align: right;
    margin:0 0 0 0.5rem;
    display:inline-block;
}

.toggle-switch {
    position: relative;
    width: 200px;
    display: inline-block;
    text-align: left;
    top: 8px;
    /* background-color: pink; */
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.5s ease 0s;
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 50%;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: "Artist";
    font-size:0.8rem;
    text-transform:uppercase;
    letter-spacing:1px;
    padding-left: 40px;
    background-color: #FAAE7B;
    color: #fff;
}

.inner:after {
    content: "Track";
    font-size:0.8rem;
    text-transform:uppercase;
    letter-spacing:1px;
    padding-right: 40px;
    background-color: #0D0D25;
    color: #fff;
    text-align: right;
}

.switch {
    display: block;
    width:30px;
    height:30px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: -2px;
    left: -2px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.5s ease 0s;
}

.checkbox:checked+.label .inner {
    margin-left: 0;
}

.checkbox:checked+.label .switch {
    /* right: 0px; */
    left:140px;
}