
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* resets */
html{
  color:white;
}
a{
  color:white;
  text-decoration:none;
}
ul{
  list-style:none;
}

body{
  background-image:linear-gradient(30deg, #753D5C, #29295B);
  background-size: 600% 600%;
  animation:animatedGradient 25s infinite linear;
  color:white;
}
@keyframes animatedGradient{
  0%{
    background-position:0 0%;
  }
  
  50%{
    background-position: 100% 0%;
  }
  
  100%{
    background-position:0% 0%;
  }
}

.App {
  text-align: center;
  font-family:'Montserrat';
  font-size:125%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}

/* header */
.App-header {
  min-height: 10vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Montserrat';
}
h1{
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:500;
  margin-top: 5rem;
}
header h2{
  font-weight:100;
  font-style:italic;
  font-size:20px;
  color:white;
}

/* Main Section */
main{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100vw;
  min-height:10vh;
}
/* Login */
.login{
  background-color:#FAAE7B;
  color:white;
  width:fit-content;
  border-radius:25px;
  padding:0.75rem 1.5rem;
  font-size:1.1rem;
  margin:auto;
}
.login a{
  display:block;
  width:100%;
  height:100%;
}
/* Dashboard & wrapper */
.dashboard{
  width:100%;
  margin:1rem 0;
}
.wrapper{
  width:90%;
  margin:0 auto;
  max-width:1000px;
}
.topRow{
  max-width:100%;
  margin:0.5rem auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:0.5rem;
}
/* User Profile */
.userInfo{
  background-color:#FAAE7B;
  color:white;
  max-width:fit-content;
  border-radius:25px;
  padding:0.25rem 0.5rem;
  margin:0 0.5rem 1rem 0;
  display:flex;
  flex-wrap:wrap;
  align-self:flex-start;
  font-size:0.8rem;
}
.userInfo .cover{
  width:32px;
  height:32px;
  border-radius:50%;
  margin-left:0;
  object-fit:cover;
  display:inline-block;
}
.text{
  flex-basis:50%;
}
p{
  flex-basis:100%;
  text-align:left;
}
.username{
  width:100%;
  font-size:0.8rem;
  text-align:left;
  margin:0;
  display:inline-block;
}
.userEmail{
  font-size:0.8rem;
  margin:0;
  display:none;
}
.userInfo:hover .userEmail{
  display:block;
}
/* Search form */
.searchBox input{
  width:fit-content;
  border-radius:25px;
  padding:0.75rem 1.5rem;
  width:100%;
  font-size:1rem;
  letter-spacing:1px;
  background-color:#0D0D25;
  color:white;
  border:none;

}
input::placeholder{
  font-style:italic;
  font-size:1rem;
  letter-spacing:1px;
}
/* Sliders */
.sliders{
  width:100%;
  margin:0.5rem auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
}
.slider{
  flex-basis:45%;
  position: relative;
}

.sliderTrack,
.sliderRange {
  border-radius: 3px;
  height: 2.5px;
  position: absolute;
}
.sliderTrack {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sliderRange {
  background: linear-gradient(to right, white, #FAAE7B 65%);
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  bottom: 0.7px;
  left: 0;
}
.thumbZindex3 {
  z-index: 3;
}
.thumbZindex4 {
  z-index: 4;
}
.thumbZindex5 {
  z-index: 5;
}
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin-bottom: 2px;
  pointer-events: all;
  position: relative;
}
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin-bottom: 4px;
  pointer-events: all;
  position: relative;
}
/* label:first-of-type {
  position: absolute;
  bottom: 10px;
  left: 0;
}

label:nth-of-type(2n) {
  position: absolute;
  bottom: 10px;
  right: 0;
} */

.slider p {
  margin: 1rem 0;
  font-weight: 100;
  font-size: 0.9rem;
}
/* end of slider styles */

/* Toggle switch styles */
.container {
  text-align: right;
  margin: 0 0 0 0.5rem;
  display: inline-block;
}

.toggle-switch {
  position: relative;
  width: 200px;
  display: inline-block;
  text-align: left;
  top: 8px;
}

.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}

.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.5s ease 0s;
}

.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 50%;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.inner:before {
  content: "Artist";
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 40px;
  background-color: #FAAE7B;
  color: #fff;
}

.inner:after {
  content: "Track";
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-right: 40px;
  background-color: #0D0D25;
  color: #fff;
  text-align: right;
}

.switch {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.5s ease 0s;
}

.checkbox:checked+.label .inner {
  margin-left: 0;
}

.checkbox:checked+.label .switch {
  /* right: 0px; */
  left: 140px;
}
/* end of toggle switch styles */

/* apiSearch component styles */
.apiSearch{
  position:relative;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
}
.searchBox{
  width:100%;
  margin:0.5rem auto;
  z-index:6;
}
/* Search results styles */
.searchResults{
  position:absolute;
  top:50px;
  left:0;
  width:100%;
  background-color:#0D0D25;
  z-index:6;
  border-radius:15px;
  max-height:300px;
  overflow-y: scroll;
}
.trackSearchResult,
.artistSearchResult{
  display:flex;
  width:90%;
  margin:0.25rem auto;
  align-items:center;
  border-bottom: #FAAE7B solid 0.5px;
  padding:1rem 0.5rem;
}
.trackSearchResult .info,
.artistSearchResult .info{
  flex-direction:row;
  align-items:flex-start;

}
.cover{
  height:64px;
  width:64px;
  margin:0 1rem;
}
.icons{
  display:flex;
  margin:0 1rem;
  flex-basis:10%;
  flex-grow:0;
}
.album{
  flex-basis:30%;
  margin:0 5px;
  font-size:0.8rem;
  text-align:left;
}
.duration{
  flex-basis:5%;
  margin:0 5px;
  flex-grow:0;
  text-align:right;
  font-size:0.8rem;
}
.icons .iconBox{
  margin:0;

}
.play{
  font-size:1rem;
}
.liked{
  color:#FAAE7B;
}
.iconBox{
  border-radius:50%;
  height:32px;
  width:32px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 0.5rem;
  transition: 0.5s ease border;
}
.iconBox svg{
  transition: color 0.5s ease;
}
.iconBox:hover svg{
  color:#FAAE7B;
}
.info {
  flex-basis:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info h5{
  margin:5px;
}
.artist{
  font-size:0.8rem;
}

.trackSearchResult .info,
.artistSearchResult .info {
  flex-basis:80%;
  display: flex;
  justify-content:space-around;
  align-items:center;
}
.info h5{
  /* max-width:8rem; */
  text-align:left;
  
}

/* selected items styles */
.selected{
  width:100%;
  margin:0.5rem auto;
  display:flex;
  flex-wrap:wrap;
  background-color:#FAAE7B;
  border-radius:15px;
  padding:1rem;
  max-height:fit-content;

}
.selected h5{
  font-size:0.7rem;
  margin:2.5px 0;
}
.selected .cover{
  height:30px;
  width:30px;
}
.selectedTrack,
.selectedArtist{
  display:flex;
  align-items:center;
}

/* recommendation styles */
.recommendations{
  margin:2rem 0;
  max-width:100%;
  max-height:90vh;
  overflow-y: scroll;
}

.recoTrack{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:0.75rem 0;
  position:relative;
}
.playlists{
  max-height:100px;
  overflow-y: scroll;
  position:absolute;
  background-color:#0D0D25;
  z-index:10;
  font-size:12px;
  text-align:left;
  border-radius:15px;
  padding:15px;
  
}
.playlist{
  margin:5px 0;
}


/* Media queries */

@media (max-width:768px){
  .searchBox,
  .selected{
    width:100%;
    margin:0.5rem auto;
  }
  .sliders{
    width:100%;
    margin:0.5rem auto;
  }
  .cover{
    height:40px;
    width:40px;
    object-fit:cover;
  }
}

@media(max-width:550px){
  .App{
    font-size:90%;
  }
  .play,
  .like,
  .liked,
  .plus{
    font-size:0.8rem;
  }
  .icons{
    margin:0 5px;
  }
  .cover{
    height:32px;
    width:32px;
    object-fit:cover;
    margin:0 5px;
  }
  .info{
    margin: 0 5px;
  }
  .info h5{
    font-size:0.6rem;
  }
  .info .artist{
    font-size:0.5rem;
  }
  .album{
    font-size:0.5rem;
  }
  .duration{
    font-size:0.5rem;
  }
}
@media(max-width:450px){
  .App {
    font-size: 90%;
  }
  .play,
  .like,
  .liked,
  .plus {
    font-size: 0.6rem;
  }
  .topRow{
    flex-direction:column;
    align-items:flex-start;
  }
  .userInfo{
    margin:1rem 0;
  }
  .container{
    height:36px;
    margin:1rem 0 0 0;
  }

}
@media(max-width:360px){
  .album,
  .duration,
  .plus{
    display:none;
  }
}