
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* Variables */
:root {
  /* colors */
  /* pink theme */
  --primaryColorRef: #000000;
  --mixedColor1Ref: #1c1517;
  --mixedColor2Ref: #382b2e;
  --mixedColor3Ref: #544146;
  --mixedColor4Ref: #6f565d;
  --mixedColor5Ref: #8b6b74;
  --mixedColor6Ref: #a6818a;
  --mixedColor7Ref: #c196a1;
  --secondaryColorRef: #BC939E;
  --overlayLight:#DECACF;
  --colorGradientMin: rgba(0, 0, 0, 0);
  --colorGradientMax: rgba(0, 0, 0, 100);
  --tertiaryColorRef: #e4001c;
  /* blue theme */
  --primaryColorRefBlue:#311A51;
  --mixedColor1RefBlue:#f4f3ee;
  --mixedColor2RefBlue: #e5e5e5;
  --mixedColor3RefBlue: #dee2e6;
  --mixedColor4RefBlue: #f7ebe8;
  --mixedColor5RefBlue: #566D7D;
  --mixedColor6RefBlue: #242423;
  --mixedColor7RefBlue: #4f5d75;
  --secondaryColorRefBlue: #f5cb5c;
  --colorGradientMinBlue: #333533;
  --colorGradientMaxBlue: rgba(0, 0, 0, 100);
  --tertiaryColorRefBlue: #d62828;
  /* default colors */
  --backgroundColor: var(--secondaryColorRef);
  --overlayBackgroundColor: var(--mixedColor6Ref);
  --overlayLightBackgroundColor:var(--overlayLight);
  --foregroundColor: var(--primaryColorRef);
  --foregroundColorMix1: var(--mixedColor1Ref);
  --foregroundColorMix2: var(--mixedColor2Ref);
  --foregroundColorMix3: var(--mixedColor3Ref);
  --foregroundColorMix4: var(--mixedColor4Ref);
  --foregroundColorMix5: var(--mixedColor5Ref);
  --foregroundColorMix6: var(--mixedColor6Ref);
  --foregroundColorMix7: var(--mixedColor7Ref);
  --gradientColorMin: var(--colorGradientMin);
  --gradientColorMax: var(--colorGradientMax);
  --borderColor: var(--mixedColor7Ref);
  --highlightColor: var(--tertiaryColorRef);
  --errorColor: #E4001C;
  /* fonts */
  --displayFont: 'Gloock',serif;
  --textFont:'Roboto', sans-serif;;
}

/* themes */
.lightPink{
  --backgroundColor: var(--secondaryColorRef);
  --overlayBackgroundColor: var(--mixedColor6Ref);
  --foregroundColor: var(--primaryColorRef);
  --foregroundColorMix1: var(--mixedColor1Ref);
  --foregroundColorMix2: var(--mixedColor2Ref);
  --foregroundColorMix3: var(--mixedColor3Ref);
  --foregroundColorMix4: var(--mixedColor4Ref);
  --foregroundColorMix5: var(--mixedColor5Ref);
  --foregroundColorMix6: var(--mixedColor6Ref);
  --foregroundColorMix7: var(--mixedColor7Ref);
  --gradientColorMin: var(--colorGradientMin);
  --gradientColorMax: var(--colorGradientMax);
  --borderColor: var(--mixedColor7Ref);
  --highlightColor: var(--tertiaryColorRef);
  --errorColor: #E4001C;
}
.darkPink{
  --backgroundColor: var(--primaryColorRef);
  --overlayBackgroundColor: var(--mixedColor2Ref);
  --foregroundColor: var(--secondaryColorRef);
  --foregroundColorMix1: var(--mixedColor7Ref);
  --foregroundColorMix2: var(--mixedColor6Ref);
  --foregroundColorMix3: var(--mixedColor5Ref);
  --foregroundColorMix4: var(--mixedColor4Ref);
  --foregroundColorMix5: var(--mixedColor3Ref);
  --foregroundColorMix6: var(--mixedColor2Ref);
  --foregroundColorMix7: var(--mixedColor1Ref);
  --gradientColorMin: var(--colorGradientMin);
  --gradientColorMax: var(--colorGradientMax);
  --borderColor: var(--mixedColor1Ref);
  --highlightColor: var(--tertiaryColorRef);
  --errorColor: #E4001C;
}
.lightBlue{
  --backgroundColor: var(--secondaryColorRefBlue);
  --overlayBackgroundColor: var(--mixedColor6RefBlue);
  --foregroundColor: var(--primaryColorRefBlue);
  --foregroundColorMix1: var(--mixedColor1RefBlue);
  --foregroundColorMix2: var(--mixedColor2RefBlue);
  --foregroundColorMix3: var(--mixedColor3RefBlue);
  --foregroundColorMix4: var(--mixedColor4RefBlue);
  --foregroundColorMix5: var(--mixedColor5RefBlue);
  --foregroundColorMix6: var(--mixedColor6RefBlue);
  --foregroundColorMix7: var(--mixedColor7RefBlue);
  --gradientColorMin: var(--colorGradientMinBlue);
  --gradientColorMax: var(--colorGradientMaxBlue);
  --borderColor: var(--mixedColor7RefBlue);
  --highlightColor: var(--tertiaryColorRefBlue);
  --errorColor: #E4001C;

}
.darkBlue{
  --backgroundColor: var(--primaryColorRefBlue);
  --overlayBackgroundColor: var(--mixedColor2RefBlue);
  --foregroundColor: var(--secondaryColorRefBlue);
  --foregroundColorMix1: var(--mixedColor7RefBlue);
  --foregroundColorMix2: var(--mixedColor6RefBlue);
  --foregroundColorMix3: var(--mixedColor5RefBlue);
  --foregroundColorMix4: var(--mixedColor4RefBlue);
  --foregroundColorMix5: var(--mixedColor3RefBlue);
  --foregroundColorMix6: var(--mixedColor2RefBlue);
  --foregroundColorMix7: var(--mixedColor1RefBlue);
  --gradientColorMin: var(--colorGradientMinBlue);
  --gradientColorMax: var(--colorGradientMaxBlue);
  --borderColor: var(--mixedColor1RefBlue);
  --highlightColor: var(--tertiaryColorRefBlue);
  --errorColor: #E4001C;

}

/* resets */
html{
  background: var(--backgroundColor);
  color: var(--foregroundColor);
  -moz-osx-font-smoothing: grayscale;
}
a{
  color:var(--foregroundColor);
  text-decoration:none;
  font-family:var(--textFont);
}
ul{
  list-style:none;
}
.img-box img{
  max-width:100%;
  width:100%;
  height:auto;
  object-fit: cover;
}
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  opacity:0.5;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: opacity 0.3s ease-in-out;
}
button:hover{
  opacity:1;
}
input:focus{
  outline: none;
}

body{
 background-color: var(--backgroundColor);
 color: var(--foregroundColorMix1);
}

.layout {
  position: relative;
  width: 100vw;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 644px;
  max-width: 100vw;
  overflow-x: hidden;
}

.App {
  text-align: center;
  font-family:var(--textFont);
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
}
.themeToggle{
  position:relative;
  z-index:30;
  cursor:pointer;
}
/* header */
.App-header {
  position:relative;
  z-index:30;
  min-height: 10vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:var(--foregroundColor);
}
.App-header.landing{
  min-height:80vh;
}

h1{
  font-family:var(--displayFont);
  font-size:5rem;
  letter-spacing:2px;
  margin-top: 5rem;
}
header h2{
  font-family:var(--textFont);
  font-weight:100;
  font-style:italic;
  font-size:1.5rem;
  color:var(--foregroundColorMix1);
}

/* Main Section */
main{
  position:relative;
  z-index:30;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100vw;
  min-height:10vh;
}
/* Login */
.login{
  position:relative;
  z-index:30;
  background-color:transparent;
  /* background-image: linear-gradient(var(--backgroundGradientColorMin), var(--backgroundGradientColorMax)); */
  width:fit-content;
  /* border-radius:25px; */
  padding:0.75rem 1.5rem;
  font-size:1rem;
  margin:auto;
}
.login a{
  color:var(--foregroundColor);
  display:block;
  width:100%;
  height:100%;
}
/* Dashboard & wrapper */
.dashboard{
  position:relative;
  z-index:30;
  width:100%;
  margin:1rem 0;
}
.wrapper{
  width:90%;
  margin:0 auto;
  max-width:1000px;
}
/* User Profile */
.userInfo{
  background-color:transparent;
  color:var(--foregroundColor);
  min-width:fit-content;
  width:10rem;
  border-radius:25px;
  padding:0.25rem 0.5rem;
  margin:0 0.5rem 1rem 0;
  display:flex;
  flex-wrap:wrap;
  align-self:center;
  justify-content: center;
  font-size:0.8rem;
  font-weight:100;
}
.userInfo:hover{
  background-color:var(--overlayBackgroundColor);
}
.userInfo .cover{
  width:32px;
  height:32px;
  border-radius:50%;
  margin-left:0;
  margin-right:10px;
  object-fit:cover;
  display:inline-block;
}
.text{
  flex-basis:50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  flex-basis:100%;
  text-align:left;
  font-weight:100;
}
.username{
  width:100%;
  font-size:0.8rem;
  text-align:left;
  margin:0;
  display:inline-block;
  letter-spacing: 0.5px;
}
.userEmail{
  font-size:0.8rem;
  margin:0;
  display:none;
}
.userInfo:hover .userEmail{
  display:block;
}
/* Search form */
.searchBox input{
  width:fit-content;
  /* border-radius:25px; */
  padding:0.75rem 1.5rem;
  width:100%;
  font-size:1rem;
  letter-spacing:1px;
  background-color: transparent;
  color:var(--foregroundColor);
  border:none;
}

.searchBox:hover{
  background-color:var(--overlayBackgroundColor);
}
.searchBox:focus{
  outline:none;
}
input::placeholder{
  font-style:italic;
  font-size:1rem;
  letter-spacing:1px;
}
/* Sliders */
.sliders{
  width:100%;
  margin:0.5rem auto;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:wrap;
}
.slider{
  flex-basis:45%;
  position: relative;
}

.sliderTrack,
.sliderRange {
  border-radius: 3px;
  height: 2.5px;
  position: absolute;
}
.sliderTrack {
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sliderRange {
  background: linear-gradient(to right, var(--gradientColorMin), var(--gradientColorMax) 65%);
  z-index: 2;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  bottom: 0.7px;
  left: 0;
}
.thumbZindex3 {
  z-index: 3;
}
.thumbZindex4 {
  z-index: 4;
}
.thumbZindex5 {
  z-index: 5;
}
.thumb::-webkit-slider-thumb {
  background-color: var(--foregroundColorMix5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin-bottom: 2px;
  pointer-events: all;
  position: relative;
}
.thumb::-moz-range-thumb {
  background-color: var(--foregroundColorMix5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin-bottom: 4px;
  pointer-events: all;
  position: relative;
}
/* label:first-of-type {
  position: absolute;
  bottom: 10px;
  left: 0;
}

label:nth-of-type(2n) {
  position: absolute;
  bottom: 10px;
  right: 0;
} */

.slider p {
  margin: 1rem 0;
  font-weight: 100;
  font-size: 0.9rem;
}
/* end of slider styles */

/* Search Options */
.wrapper{
  display:flex;
  flex-direction: column;
}
.searchOptionsContainer{
  align-self:center;
  display:flex;
  align-items: center;
  border-radius: 40px;
  padding:0px 15px;
  background-color: var(--overlayBackgroundColor);
  position:relative;
  line-height: 1;
}

.searchOptionsContainer:hover>.listOfOptions{
  max-width: 300px;

}
.searchOptionsContainer:hover>.selectedOption {
  /* background-color: var(--overlayLightBackgroundColor); */
}
.selectedOption{
  text-transform: capitalize;
  padding:0px 15px;
  border-radius: 15px;
}
.selectedOption:hover{
 
}
.listOfOptions{
  padding:0px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width:0px;
  overflow-x:hidden;
  overflow-y: hidden;
  transition: 0.5s ease-in-out;

}
.option{
  text-transform: capitalize;
  opacity:0.6;
  transition:all 0.3s ease-in-out;
  padding:0px 15px;
  cursor:pointer;
}
.option:hover{
  opacity:1.0;
  transform: scale(1.06);
}

/* apiSearch component styles */
.apiSearch{
  position:relative;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:center;
}
.searchBox{
  width:100%;
  margin:0.5rem auto;
  z-index:6;
}
/* Search results styles */
.searchResults{
  position:absolute;
  top:50px;
  left:0;
  width:100%;
  background-color:var(--overlayLightBackgroundColor);
  z-index:6;
  /* border-radius:15px; */
  max-height:300px;
  overflow-y: scroll;
}
.trackSearchResult,
.artistSearchResult{
  display:flex;
  width:90%;
  margin:0.25rem auto;
  align-items:center;
  border-bottom: var(--borderColor) solid 0.5px;
  padding:1rem 0.5rem;
}
.trackSearchResult .info,
.artistSearchResult .info{
  flex-direction:row;
  align-items:flex-start;

}
.cover{
  height:64px;
  width:64px;
}
.icons{
  display:flex;
  margin:0 1rem;
  flex-basis:10%;
  flex-grow:0;
}
.album{
  flex-basis:30%;
  margin:0 5px;
  font-size:0.8rem;
  text-align:left;
}
.duration{
  flex-basis:5%;
  margin:0 5px;
  flex-grow:0;
  text-align:right;
  font-size:0.8rem;
}
.icons .iconBox{
  margin:0;

}
.play{
  font-size:1rem;
}
.liked{
  color:var(--foregroundColor);
}
.iconBox{
  border-radius:50%;
  height:32px;
  width:32px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0 0.5rem;
  transition: 0.5s ease border;
}
.iconBox svg{
  transition: color 0.5s ease;
}
.iconBox:hover svg{
  color:#FAAE7B;
}
.info {
  flex-basis:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info h5{
  margin:5px;
}
.artist{
  font-size:0.8rem;
}

.trackSearchResult .info,
.artistSearchResult .info {
  flex-basis:80%;
  display: flex;
  justify-content:space-around;
  align-items:center;
}
.info h5{
  /* max-width:8rem; */
  text-align:left;
  
}

/* selected items styles */
.selected{
  width:100%;
  margin:0.5rem auto;
  display:flex;
  flex-wrap:wrap;
  background-color:var(--overlayLightBackgroundColor);
  /* border-radius:15px; */
  padding:1rem;
  max-height:fit-content;

}
.selected h5{
  font-size:0.7rem;
  margin:2.5px 0;
}
.selected .cover{
  height:30px;
  width:30px;
}
.selectedTrack,
.selectedArtist{
  display:flex;
  align-items:center;
}
.selected{
  text-align:right;
}
.selected .cover{
  margin:0 5px;
}

/* Album preview styles */
.albumTracks{
  display:flex;
  flex-wrap:wrap;
}
.albumTracks h4{
  flex-basis:100%;
}
/* Playlist preview styles */
.playlistTracks {
  display: flex;
  flex-wrap: wrap;
}

.playlistTracks h4 {
  flex-basis: 100%;
}


/* recommendation styles */
.recommendations{
  margin:2rem 0;
  max-width:100%;
  max-height:90vh;
  overflow-y: scroll;
  display:flex;
  flex-wrap:wrap;
}

.recoTrack{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:0.25rem 0;
  position:relative;
  margin:2.5px;
}

a {
  width:64px;
  height:64px;
}
a .img-box{
  max-width:100%;
  max-height:100%;
}

.playlists{
  max-height:100px;
  overflow-y: scroll;
  position:absolute;
  background-color:#0D0D25;
  z-index:10;
  font-size:12px;
  text-align:left;
  /* border-radius:15px; */
  padding:15px;
  
}
.playlist{
  margin:5px 0;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  text-align: center;
  margin: 2rem 0;
}

/* Player */
.playingTrackCover{
  width:100px;
  height:100px;
}
.trackWrapper{
  display:flex;
  align-items: center;
}
.playingTrackInfo{
  text-align:left;
  margin:0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progressContainer {
  background-color: var(--overlayLightBackgroundColor);
  height: 4px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

#progressBar {
  background-color: var(--foregroundColor);
  width: 0%;
  height: 100%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

#playingTrackCover {
  width: 64px;
  height: 64px;
}
.volumeContainer{
  display:flex;
  align-items:center;
  flex-basis:15%;
}
.volumeTrack{
  background-color: var(--overlayLightBackgroundColor);
  height: 4px;
  width: 100px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
#volumeBar{
  background-color: var(--foregroundColor);
  width: 0%;
  height: 100%;
  border-radius: 5px;
  transition: width 0.1s linear;
}
#volume{
  font-size:1rem;
  margin:0 10px;
}
.playerNav{
  flex-basis:50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainNav{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.playingDevice{
  flex-basis:100%;
}
.playerBtn{
  padding: 0 1rem;
  height:2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.devicesContainer{
  position:relative;
  flex-basis:50%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
}
.devicesList{
  position:absolute;
  top:0;
  left:0;
}
.deviceInfo{
  cursor:pointer;
}
#play{
  font-size: 2rem;

}
#pause{
  font-size: 2rem;

}
#shuffleOn {
  
}

#unlikedHeart{
  color:white;

}
#likedHeart {
  
}

#repeatLook {
  
}

#repeatOne {
 
}
#playingDevice{
  background-color: var(--foregroundColor);
  color:var(--backgroundColor);
  padding:10px 0;
  display:flex;
}
#soundBars{
  height: 30px;
  width:30px;
  position:relative;
  margin:0 10px;
}
.bar {
  background: var(--foregroundColorMix6);
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 3px;
  }

  100% {
    opacity: 1;
    height: 20px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}

.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}

.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}

.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}

.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}

.bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}



/* Media queries */

@media (max-width:768px){
  .searchBox,
  .selected{
    width:100%;
    margin:0.5rem auto;
  }
  .sliders{
    width:100%;
    margin:0.5rem auto;
  }
  .cover{
    height:40px;
    width:40px;
    object-fit:cover;
  }
}

@media(max-width:550px){
  .App{
    font-size:100%;
    font-weight:100;
  }
  .play,
  .like,
  .liked,
  .plus{
    font-size:0.8rem;
  }
  .icons{
    margin:0 5px;
  }
  .cover{
    height:32px;
    width:32px;
    object-fit:cover;
    margin:0 5px;
  }
  .info{
    margin: 0 5px;
  }
  .info h5{
    font-size:0.6rem;
  }
  .info .artist{
    font-size:0.5rem;
  }
  .album{
    font-size:0.5rem;
  }
  .duration{
    font-size:0.5rem;
  }
  .album,
  .duration,
  .plus {
    display: none;
  }
}
@media(max-width:450px){
  .App {
    font-size: 90%;
  }
  .play,
  .like,
  .liked,
  .plus {
    font-size: 0.6rem;
  }
  .topRow{
    flex-direction:column;
    align-items:flex-start;
  }
  .userInfo{
    margin:1rem 0;
  }
  .container{
    height:36px;
    margin:1rem 0 0 0;
  }
  .album,
  .duration,
  .plus {
    display: none;
  }
}
@media(max-width:360px){
  .album,
  .duration,
  .plus{
    display:none;
  }
}